
/* ---- GLOBAL -------------------------------------------------------------- */

* {
  font-size      : 15px;
  line-height    : 1.4em;
  font-family    : "arial";
  overflow-wrap  : break-word;
}

/* Reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  -webkit-appearance : none;
  -moz-appearance    : none;
}

/* temporary move to stop UI jitter from browser scrollbars */
body {
   overflow-y: scroll;
}

/* ---- LINKS ------------------------------------------ */

a {
  color           : #4183c4;
  text-decoration : none;
}

a:hover {
  color           : #1e70bf;
  /*border-bottom   : 1px solid;*/
}

/* ---- LAYOUT -------------------------------------------------------------- */

/* contains app */
#container {
  margin-top     : 1ex;
  margin-left    : auto;
  margin-right   : auto;
  width          : 860px;
  display        : flex;
  flex-direction : column;
}

/* main content area */
#content-container {
  display        : flex;
  flex-direction : row;
}

#left-container {
  width         : 80%;
  padding-right : 2.5ex;
}

#right-container {
  width: 20%;
}

/* ---- TOP NAVIGATION ------------------------------------------------------ */

#top {
  margin-bottom : 2ex;
}

/* ---- FOLDERS NAVIGATION -------------------------------------------------- */

#folders {
  margin-bottom : 2ex;
}

/* ---- TAGS NAVIGATION ----------------------------------------------------- */

#TopTagsNavigation ul {
   display      : flex;
   list-style   : none;
   margin-top   : 0;
   padding-left : 0;
}

#TopTagsNavigation ul li {
   margin-right: 0.5ex;
}

#TopTagsNavigation li.divider {
   color       : lightgray;
   font-weight : 900;
   cursor      : default;
}

/* ---- BOOKMARK ------------------------------------------------------------ */

.bookmark {
  display        : flex;
  margin-bottom  : 2.2ex;
}

.bookmark a:hover {
  border-bottom   : 1px solid;
}

.bookmark h4.title {
  font-size     : 15px;
  margin-bottom : 0;
  margin-top    : 0;
}

.bookmark-title {
  color: black;
}

.bookmark p {
  margin-top    : 0;
  margin-bottom : 0;
}

.bookmark ul.bookmark-tags {
  list-style    : none;
  display       : flex;
  flex-wrap     : wrap;
  align-items   : left;
  margin-top    : 0;
  padding-left  : 0;
  margin-bottom : 0;
}

.bookmark ul.bookmark-tags li {
  margin-right: 0.5em;
}

/* ---- ASIDE -------------------------------- */

.bookmark aside {
  padding-right : 0.5ex;
  margin-bottom : 0;
  margin-right  : 0;
}

.bookmark time {
  margin-bottom : 0; /* test if useless */
  font-weight   : 700;
}

.bookmark aside nav ul {
  list-style   : none;
  display      : flex;
  align-items  : left;
  margin-top   : 0;
  padding-left : 0;
  margin-bottom: 0;
}

.bookmark aside nav ul li {
  padding-right: 1ex;
}

.bookmark aside .bookmark-editor {
  opacity    : 0;
  transition : all 500ms ease-in-out;
}

.bookmark aside .bookmark-editor:hover {
  opacity: 1;
}

/* ---- SIDE NAVIGATION ----------------------------------------------------- */

#right-container #search {
  margin-top    : 1ex;
  margin-bottom : 1ex;
  width         : 20ex;
}

/* ---- TAGS NAVIGATION ---------------------- */

#tags-list a:hover {
  border-bottom: 1px solid;
}

#tags-editor ul {
   list-style    : none;
   display       : inline-flex;
   margin-bottom : 0;
}

#tags-editor ul li {
   padding-right : 1ex;
   color         : gray;
}

#tags-editor #divider {
  color  : lightgray;
  cursor : default;
}

#tags-editor #unselected {
   color  : lightgray;
   cursor : pointer;
}

#tags-editor #selected {
   cursor : default;
}

#tags-editor #unselected:hover {
  color: gray;
}

#tags-container hr {
   border        : 0;
   height        : 0;
   border-top    : 1px solid rgba(0, 0, 0, 0.1);
   border-bottom : 1px solid rgba(255, 255, 255, 0.3);
   margin-bottom : 0;
   margin-top    : 0;
}

#tags-container ul {
  list-style     : none;
  margin-left    : 2ex;
  padding-left   : 0;
}

#tags-container li {
  padding-bottom: 0.5em;
}

/* ---- FOOTER -------------------------------------------------------------- */

#footer {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  margin-top     : 2em;
  margin-bottom  : 2em;
}

#footer .underlined a:hover {
  border-bottom: 1px solid;
}

#footer ul {
  display      : flex;
  margin-top   : 2.5ex;
  padding-left : 0;
  list-style   : none;
}

#footer ul li {
  padding-right : 0.5ex;
  padding-left  : 0.5ex;
}

/* ---- CHECKBOX ------------------------------------------------------------ */

